{% extends 'base.html.twig' %}

{% block body %}

<!-- Default form register -->
<section  id="form-section">
  
  {{ form_start(form, {'attr': {'class': 'white'}}) }}


  {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Pseudo'}}) }}
  {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Email'}, 'type': 'email'}) }}
  {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe'}}) }}
  {{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder': 'Répétez le mot de passe'}}) }}
  <button id="submit-login" type="submit" class="btn btn-blue-grey w-100 m-0 mt-2">S'inscrire</button>
  
  <a href="{{ path('security_login') }}" class="btn btn-outline-blue-grey w-100 m-0 mt-2">Déjà inscrit ?</a>
  
        <div id="loading-animation" class="d-flex justify-content-center mt-4">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

  {{ form_end(form) }}

</section>

<style>
    body{
        background-color: white !important;
    }
</style>

<script>
let loading = document.getElementById('loading-animation');
let submit = document.getElementById('submit-login');

loading.style.setProperty('visibility', 'hidden', 'important');

submit.addEventListener('click', () => {
    loading.style.setProperty('visibility', 'visible', 'important');
});

window.addEventListener('load', () => scrollFunction());

function scrollFunction() {

  let navbar = document.querySelector('.navbar');
  let search = document.getElementById('wrap');
  let hamburger = document.getElementsByClassName('burgerMenu'); 
  let navbarBrand = document.getElementById('navbar-brand');

  hamburger.forEach(element => {
    element.style.setProperty('background', '#37474f', 'important');
  });
  navbar.style.backgroundColor = "white";
  navbar.style.setProperty('box-shadow', '0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)', 'important');
  navbar.style.setProperty('transition', '700ms', 'important');
  search.style.setProperty('visibility', 'visible', 'important');
  navbarBrand.style.color = "#37474f";
}

</script>
{% endblock %}