{% extends 'base.html.twig' %}

{% block title %}Beatshare{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}

<div id="brand-logo" class="d-flex justify-content-center align-items-center"><img src="images/Logo/logo_transparent.png" width="256px"></div>

<div id="cards-component-container" class="d-flex justify-content-around align-items-center">

     <card-component imgSrc="images/cards/headphone.png">
                        <p slot="content">
                            Ecoutez des beats publiés par la communauté
                        </p>
                      <ul slot="actions">
                          <li text="Some action" value=1></li>
                          <li text="Some action2" value=2></li>
                          <li text="Some action3" value=3></li>
                      </ul>
    </card-component>

    <card-component imgSrc="images/cards/upload.png" >
                        <p slot="content">
                            Inscrivez vous, puis uploadez vos beats !
                        </p>
                      <ul slot="actions">
                          <li text="Some action" value=1></li>
                          <li text="Some action2" value=2></li>
                          <li text="Some action3" value=3></li>
                      </ul>
    </card-component>

    <card-component imgSrc="images/cards/microphone.png" >
                        <p slot="content">
                            Enregistrez du contenu vocal par dessus d'autres beats  
                        </p>
                      <ul slot="actions">
                          <li text="Some action" value=1></li>
                          <li text="Some action2" value=2></li>
                          <li text="Some action3" value=3></li>
                      </ul>
    </card-component>
</div>

<div id="beat-mp3-bank" class="d-flex justify-content-around align-items-center">

    <section id="main-list-audio" class="white d-flex flex-column justify-content-center align-items-center p-1 shadow-lg rounded w-75">

        {% for article in articles %}

        <a id="beat-{{ article.id }}" tabindex="{{ article.id }}" class="d-flex justify-content-start align-items-center beat-section border-bottom border-light p-0 w-100"
            beat="beat/{{article.title}}.mp3" img="images/beatImages/{{article.img}}">
            <img class="beat-images" src="images/beatImages/{{article.img}}" width="64px" height="64px" class="mr-3">
            {{ article.artiste }} - {{ article.title }}

            <button id="listBtn" type="button" class="btn btn-outline-blue-grey waves-effect ml-auto float-right d-flex align-items-center justify-content-center">
            <i class="fas fa-plus"></i>
            </button>
        </a>

        {% endfor %}

    </section>

</div>

 <audio-player songSrc="" songTitle="" songAuthor="" songImg=""></audio-player>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('audioplayer') }}
    {{ encore_entry_script_tags('cards') }}
    {{ encore_entry_script_tags('index') }}
 {% endblock %}