<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Beatshare{% endblock %}</title>

    {% block stylesheets %}
    {# font awesome #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="cdn/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="cdn/css/mdb.min.css" rel="stylesheet">

    <link rel="icon" href="images/Logo/favicon.png">

    {{ encore_entry_link_tags('sidenav') }}

    {{ encore_entry_link_tags('base') }}

    {% endblock %}
</head>

<body>

    <nav id="navbar" class="d-flex flex-column justify-content-start align-items-center">

        <div id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div id="list-container" class="d-flex flex-column justify-content-center align-items-center">

            <a href="{{ path('beatshare') }}" title="Home"><i class="fas fa-home"></i></a>

            <a href="#" title="Search"><i class="fas fa-search"></i></a>

            <a href="{{ path('add') }}" title="Upload"><i class="fas fa-upload"></i></a>

            <a href="{{ path('profile') }}" title="Profil"><i class="fas fa-user"></i></a>
        </div>

    </nav>

    <div id="nav-dropdown" class="not-loaded">

        <i id="nav-dropdown-leaver" class="fas fa-chevron-left"></i>

        <div class="d-flex flex-column justify-content-center align-items-center">

            <div id="website-logo" class="d-flex flex-column justify-content-center align-items-center">
                <img src="images/Logo/logo_transparent.png" width="256px" alt="Logo Beatshare">
            </div>

            <div id="dropdown-option" class="d-flex flex-column justify-content-center align-items-center w-100">
                {% if app.user %}
              
                    <a class="btn w-75" href="{{ path('add') }}">Publier un beat</a>
             
                    <a class="btn w-75" href="{{ path('profile') }}">Profil</a>
              
                {% endif %}

                {% if not app.user %}

                <div class="form-group w-75">
                    <a id="submit-login" href="{{ path('security_login') }}" class="btn w-100 m-0 mt-2">Connexion</a>
                </div>
                
               
                    <a class="btn btn-outline-blue-grey waves-effect w-75" href="{{ path('security_registration') }}">S'inscrire</a>
               

                {% else %}
         
                    <a class="btn btn-outline-danger waves-effect w-75" href="{{ path('security_logout') }}">Déconnexion</a>
        
                {% endif %}
            </div>


        </div>
    </div>

    {% block body %}{% endblock %}


    {% block javascripts %}


    <script type="text/javascript" src="cdn/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="cdn/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="cdn/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="cdn/js/mdb.min.js"></script>
    
    {{ encore_entry_script_tags('sidenav') }}

    {{ encore_entry_script_tags('base') }}
    
    {% endblock %}
</body>

</html>